@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
<div class="text-center">
    <h1 class="display-4">MEvents Home</h1>
</div><br />
    <div style="display:flex;float:right; margin-left:20px;"></div>
</body>
<div class="card"></div>
<div class="Image"></div>
<img src="https://cdn.pixabay.com/photo/2015/11/22/19/04/crowd-1056764_960_720.jpg" />
<div/><br />
<div class="card-title"></div>
<div/><br />
